body {
    background: linear-gradient(to bottom, #b6f7f7 0%, #fae9fc 100%);
    margin-right: 450px;
    margin-left: 450px;
    margin-top: 50px; 
    margin-bottom: 250px;  
    background-repeat: no-repeat;
}

#marriage-title {
    background-color: #f3ec78;
    background-image: linear-gradient(to top, #f80000 0%, #ffee00 100%);
    background-size: 100%;
    font-size: 70px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    margin-top: 0px; 
    padding-top: 0px;
}

.event-title {
    font-family: ui-sans-serif,system-ui; 
    font-size: 40px; 
    text-align: center; 
    color: grey;
    position: relative; 
    opacity: 0.7;
}

#head-title {
    opacity: 1;
    font-size: 60px; 
    color: black;
    position: relative; 
}


.desc {
    font-size: 20px; 
    text-align: center; 
    font-family: ui-sans-serif, system-ui; 
    position: relative; 
}

#head-desc {
    font-size: 25px; 
    position: relative; 
    text-align: center; 
}

.row {
    display: inline-block;
    list-style:none;
    text-decoration: none;
    text-align:center;
    margin-left: 10px;
}

.column {
    float: left;
    width: 20%;
    min-width: 200px;
    text-align: center;
}


.event-button {
    color: #0099CC; 
    background-color: Transparent;
    background-repeat:no-repeat;
    display: inline-block;
    text-decoration: none;
    transition: background-color ease 400ms;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;      
    color: white;      
    padding-right: 0px; 
    padding-left: 0px; 
    padding-top: 32px; 
    padding-bottom: 32px;     
    text-align: center;       
    font-size: 16px;  
    font-family: ui-sans-serif, system-ui;          
    cursor: pointer;      
    text-decoration: none;      
    width: 180px; 
    height: 180px; 

}

.event-button {
    color: white;
    border: 2px solid rgb(129, 105, 133);
    opacity: 0.85; 
}

.event-button:hover {     
    background-color: #d58bf3; 
    color: white; 
    opacity: 0.99;   
    font-size: 20px;    
}

#pelli-button {
    background-image: url("https://drive.google.com/uc?id=1XQ2ae8iygN2V54s0sM84C4e8M_PeiuYZ"); 
    background-size: 180px 180px ; 
}

#mehendi-button {
    background-image: url("https://drive.google.com/uc?id=1fyn5FfhQzqWCO7XYyUtF9S2YvLk0QKAC"); 
    background-size: 180px 180px ; 
}

#proposal-button {
    background-image: url("https://drive.google.com/uc?id=1WqjBFmyhseSKsMLmwMspCXdjArA4qoTa"); 
    background-size: 180px 180px; 
    filter: brightness(110%);
}

#wedding-button {
    background-image: url("https://drive.google.com/uc?id=1DuvSw-C3-HWnjcFvBwKlZQD5FWnaeRso");
    background-size: 180px 180px;
}

#reception-button {
    background-image: url("https://drive.google.com/uc?id=1HLzV8LA41nwj79QD-lywI7RJW1sj4K18");
    background-size: 180px 180px; 
}

.date-location {
    font-family: ui-sans-serif,system-ui; 
    font-size: 13px; 
    font-style: italic;
    color: rgb(0, 0, 0);
    opacity: 0.9;
}

.nav{
    background-color: #48f5f5;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    font-size: 30px; 
    border-radius: 13px;
    text-decoration: none;
    text-align:center;
    font-family: ui-sans-serif, system-ui;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    text-decoration: none;
    border-radius: 13px;
    border-color: black; 
    color: black;
}

.nav a:hover {
    background-color: rgb(119, 245, 245);
    color: black;
}