body {
    background: linear-gradient(to bottom, #b6f7f7 0%, #fae9fc 100%);
    margin-right: 450px;
    margin-left: 450px;
    margin-top: 50px; 
    margin-bottom: 50px;  
    background-repeat: no-repeat;
}

#marriage-title {
    background-color: #f3ec78;
    background-image: linear-gradient(to top, #f80000 0%, #ffee00 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    margin-top: 0px; 
    padding-top: 0px;
    margin-bottom: 0px; 
    padding-bottom: 0px; 
    font-size: 90px; 
    text-align: center;
}

.date-title {
    font-family: ui-sans-serif,system-ui; 
    font-size: 40px; 
    text-align: center; 
    color: grey;
    position: relative; 
    opacity: 0.7;
}

#head-title {
    opacity: 1;
    font-size: 75px; 
    color: black;
    position: relative; 
}

.desc {
    font-size: 20px; 
    text-align: center; 
    font-family: ui-sans-serif, system-ui; 
    position: relative; 
}

#head-desc {
    font-size: 25px; 
    position: relative; 
    text-align: center; 
}

.decor-images, .meena-arrives, .guests-arrive, .all-ritual-photos, .food {
    text-align: center;
    margin: 0 auto; 
}

.nav{
    background-color: #48f5f5;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    font-size: 30px; 
    border-radius: 13px;
    text-decoration: none;
    text-align:center;
    font-family: ui-sans-serif, system-ui;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    text-decoration: none;
    border-radius: 13px;
    border-color: black; 
    color: black;
}

.nav a:hover {
    background-color: rgb(119, 245, 245);
    color: black;
} 

.ritual-buttons{
    background-color: #48f5f5;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    font-style: italic;
    font-size: 19px; 
    border-radius: 13px;
    text-decoration: none;
    text-align:center;
    font-family: ui-sans-serif, system-ui;
}
.ritual-buttons li{
    display:inline;
}
.ritual-buttons a{
    display:inline-block;
    padding:10px;
    text-decoration: none;
    border-radius: 13px;
    border-color: black; 
    color: black;
}

.ritual-buttons a:hover {
    background-color: rgb(119, 245, 245);
    color: black;
} 